<app-top-menu></app-top-menu>


<mat-card *ngIf="appService.Data.cartList?.length > 0" class="p-0">

  <div class="mat-table cart-table">
    <div class="mat-header-row">
      <div class="mat-header-cell">Product</div>
      <div class="mat-header-cell">Name</div>
      <div class="mat-header-cell">Price</div>
      <div class="mat-header-cell">Quantity</div>
      <div class="mat-header-cell">Total</div>
      <div class="mat-header-cell text-center">
        <div class="px-1">
          <button mat-raised-button color="warn" (click)="clear()">Clear All</button>
        </div>
      </div>
    </div>
    <div *ngFor="let product of appService.Data.cartList" class="mat-row">
      <div class="mat-cell"><img [src]="product.avatar"></div>
      <div class="mat-cell"><a [routerLink]="['/products', product.id, product.name]" class="product-name">{{product.name}}</a></div>
      <div class="mat-cell"> {{product.newPrice | number : '1.2-2'}} DT </div>
      <div class="mat-cell text-muted">

        {{product.cartCount}}

      </div>
      <div class="mat-cell"> {{ product.newPrice * product.cartCount }} DT </div>
      <div class="mat-cell text-center">
        <div class="p-1">
          <button mat-mini-fab color="warn" (click)="remove(product)" matTooltip="Clear">
              <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

    </div>
    <div class="mat-row">
      <div class="mat-cell"><a routerLink="/" mat-raised-button color="primary">Continue shopping</a></div>
      <div class="mat-cell"></div>
      <div class="mat-cell"></div>

      <div class="mat-cell text-right">
        <div fxLayout="column" fxLayoutAlign="center end" class="grand-total px-2">
          <span> </span>
          <span class="new-price"> <br> Grand Total HT :</span>

          <span class="text-muted"> {{ grandTotal | number : '1.2-2'}} DT <br> </span>
        </div>

        <div fxLayout="column" fxLayoutAlign="center end" class="grand-total px-2">
          <span> </span>
          <span class="new-price"> Grand Total TTC (15%) :</span>

          <span class="text-muted">  {{ (grandTotal + (grandTotal*0.15)) | number : '1.2-2'}} DT <br> </span>
        </div>


      </div>



      <div class="mat-cell text-center"><a routerLink="/checkout" mat-raised-button color="primary">Proceed To Checkout</a></div>
    </div>
  </div>

</mat-card>


