<!-- l partie taa nav hédi lézémni na3mélha component wa7adha w juste na3émlélha appel f chaque page aal panier -->




<nav class="navbar main-menu-cont">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar icon-bar1"></span>
              <span class="icon-bar icon-bar2"></span>
              <span class="icon-bar icon-bar3"></span>
          </button>
          <a href="index.html" title="" class="navbar-brand">
              <img src="assets/images/logo-light.png" alt="Apartment - Premium Real Estate Template" />
          </a>
      </div>
<div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">


              <li><a href="/"  > Accueil</a></li>
              <li><a href="#chat-bot-modal" data-toggle="modal" > Need HELP ? </a></li>
              <li><a routerLink="/compare" routerLinkActive="active" >Compare ({{mejdaService.Data.compareList.length}})</a></li>
              <li><a routerLink="/wishList"  routerLinkActive="active"  >Wishlist ({{mejdaService.Data.wishList.length}})</a></li>
              <li><a routerLink="/cart"  routerLinkActive="active"  >Cart ({{mejdaService.Data.cartList.length}})</a></li>


              <li *ngIf="!profileDisplay; else noProfileDisplay"><a href="#login-modal" data-toggle="modal" >Connexion</a></li>
              <ng-template #noProfileDisplay>
                  <li><a href="/profile" >{{firstName}} {{lastName}}</a></li>
              </ng-template>

          </ul>
      </div>
  </div>
</nav><!-- /.mani-menu-cont -->


<router-outlet></router-outlet>
