
<div id="wrapper" class="wrapper2">

  <!-- Page header -->
  <header class="header2">
      <div class="top-bar-wrapper">
          <div class="container top-bar">
              <div class="row">
                  <div class="col-xs-5 col-sm-8">
                      <div class="top-mail pull-left hidden-xs">
                          <span class="top-icon-circle">
                              <i class="fa fa-envelope fa-sm"></i>
                          </span>
                          <span class="top-bar-text">email</span>
                      </div>
                      <div class="top-phone pull-left hidden-xxs">
                          <span class="top-icon-circle">
                              <i class="fa fa-phone"></i>
                          </span>
                          <span class="top-bar-text">numero</span>
                      </div>
                      <div class="top-localization pull-left hidden-sm hidden-md hidden-xs">
                          <span class="top-icon-circle pull-left">
                              <i class="fa fa-map-marker"></i>
                          </span>
                          <span class="top-bar-text">Adresse</span>
                      </div>
                  </div>

              </div>
          </div><!-- /.top-bar -->
      </div><!-- /.Page top-bar-wrapper -->



      <app-top-menu></app-top-menu>



  </header>




  <br>
  <br>
  <br>
  <br>
  <br>
  <br>




  <section class="section-light top-padding-45 bottom-padding-45">
    <div class="container">
        <div class="row count-container">





















<mat-chip-list *ngIf="appService.Data.wishList.length == 0">
  <mat-chip color="warn" selected="true">YOU HAVE NO ITEMS IN WISH LIST.</mat-chip>
</mat-chip-list>

<mat-card *ngIf="appService.Data.wishList?.length > 0" class="p-0">

<div class="mat-table wishlist-table">
  <div class="mat-header-row">
    <div class="mat-header-cell">Product</div>
    <div class="mat-header-cell">Name</div>
    <div class="mat-header-cell">Price</div>
    <div class="mat-header-cell">Availability</div>
    <div class="mat-header-cell">Quantity</div>
    <div class="mat-header-cell">
      <div class="px-1">
        <button mat-raised-button color="warn" (click)="clear()">Clear All</button>
      </div>
    </div>
  </div>
  <div *ngFor="let product of appService.Data.wishList" class="mat-row">
    <div class="mat-cell"><img [src]="product.avatar" class="mr-3" [alt]="product.name"></div>
    <div class="mat-cell"><a [routerLink]="['/products', product.id, product.name]" class="product-name">{{product.name}}</a></div>
    <div class="mat-cell">${{product.newPrice }}</div>
    <div class="mat-cell">{{ (product.availibilityCount > 0) ? 'In stock':'Unavailable'}}</div>
    <div class="mat-cell text-muted">
      <app-controls [product]="product" [type]="'wish'" (onQuantityChange)="getQuantity($event)"></app-controls>
    </div>
    <div class="mat-cell">
      <div class="p-1">
        <button mat-mini-fab color="primary" (click)="addToCart(product)" matTooltip="Add to cart">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="remove(product)" matTooltip="Clear" class="remove">
            <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

  </div>
</div>

</mat-card>


















        </div>
    </div>
</section>






































  <section class="section-light top-padding-45 bottom-padding-45">
      <div class="container">
          <div class="row count-container">
              <div class="col-xs-6 col-lg-3">
                  <div class="number" id="number1">
                      <div class="number-img">
                          <i class="fa fa-credit-card"></i>
                      </div>
                      <span class="number-label text-color2">Paiement sécurisé</span>

                  </div>
              </div>
              <div class="col-xs-6 col-lg-3 number_border">
                  <div class="number" id="number2">
                      <div class="number-img">
                      <i class="fa fa-truck"></i>
                      </div>
                      <span class="number-label text-color2">Livraison 24-48h</span>

                  </div>
              </div>
              <div class="col-xs-6 col-lg-3 number_border3">
                  <div class="number" id="number3">
                      <div class="number-img">
                          <i class="fa fa-check-square"></i>
                      </div>
                      <span class="number-label text-color2">En stock</span>
                  </div>
              </div>
              <div class="col-xs-6 col-lg-3 number_border">
                  <div class="number" id="number4">
                      <div class="number-img">
                          <i class="fa fa-certificate"></i>
                      </div>
                      <span class="number-label text-color2">Garantie 2 ans</span>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <footer class="large-cont">
      <div class="container">
          <div class="row">
              <div class="col-xs-6 col-sm-6 col-lg-3">
                  <h4 class="second-color">contact us<span class="special-color">.</span></h4>
                  <div class="footer-title-separator"></div>
                  <p class="footer-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <address>
                      <span><i class="fa fa-map-marker"></i>00456 Some Address line</span>
                      <div class="footer-separator"></div>
                      <span><i class="fa fa-envelope fa-sm"></i><a href="#">email@domain.tld</a></span>
                      <div class="footer-separator"></div>
                      <span><i class="fa fa-phone"></i>01-23456789</span>
                  </address>
                  <div class="clear"></div>
              </div>
              <div class="col-xs-6 col-sm-6 col-lg-3">
                  <h4 class="second-color">quick links<span class="special-color">.</span></h4>
                  <div class="footer-title-separator"></div>
                  <ul class="footer-ul">
                      <li><span class="custom-ul-bullet"></span><a href="index.html">Accueil</a></li>
                      <li><span class="custom-ul-bullet"></span><a href="listing-grid-right-sidebar.html">Nos offres</a></li>
                      <li><span class="custom-ul-bullet"></span><a href="agencies-listing-right-sidebar.html">Fonctionnalités</a></li>
                      <li><span class="custom-ul-bullet"></span><a href="contact1.html">Contact</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-6 col-lg-3">



              </div>
              <div class="col-xs-12 col-sm-6 col-lg-3">

              </div>
          </div>
      </div>
  </footer>
  <footer class="small-cont">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-6 small-cont">
                  <img src="assets/images/logo-light.png" alt="" class="img-responsive footer-logo" />
              </div>
              <div class="col-xs-12 col-md-6 footer-copyrights">
                  &copy; Copyright 2015 <a href="http://themeforest.net/user/johnnychaos?ref=johnnychaos" target="blank">Jan Skwara</a>. All rights reserved. Buy on <a href="http://themeforest.net/user/johnnychaos/portfolio?ref=johnnychaos" target="blank">Themeforest</a>.
              </div>
          </div>
      </div>
  </footer>
  </div>

  <!-- Move to top button -->


  <div class="move-top">
    <div class="big-triangle-second-color"></div>

    <a href="#chat-bot-modal" data-toggle="modal" class="button-secondary button-shadow pull-right">
      <span> NEED HELP ? <svg class="bi bi-chat-dots-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 01-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm3 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
      </svg></span>
      <div class="button-triangle"></div>
      <div class="button-triangle2"></div>
    </a>

    </div>

  <router-outlet></router-outlet>
