 
<div id="wrapper" class="wrapper2">

<!-- Page header -->	
<header class="header2">
    <div class="top-bar-wrapper">
        <div class="container top-bar">
            <div class="row">
                <div class="col-xs-5 col-sm-8">
                    <div class="top-mail pull-left hidden-xs">
                        <span class="top-icon-circle">
                            <i class="fa fa-envelope fa-sm"></i>
                        </span>
                        <span class="top-bar-text">email</span>
                    </div>
                    <div class="top-phone pull-left hidden-xxs">
                        <span class="top-icon-circle">
                            <i class="fa fa-phone"></i>
                        </span>
                        <span class="top-bar-text">numero</span>
                    </div>
                    <div class="top-localization pull-left hidden-sm hidden-md hidden-xs">
                        <span class="top-icon-circle pull-left">
                            <i class="fa fa-map-marker"></i>
                        </span>
                        <span class="top-bar-text">Adresse</span>
                    </div>
                </div>
            
            </div>
        </div><!-- /.top-bar -->	
    </div><!-- /.Page top-bar-wrapper -->	
    <nav class="navbar main-menu-cont">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar1"></span>
                    <span class="icon-bar icon-bar2"></span>
                    <span class="icon-bar icon-bar3"></span>
                </button>
                <a href="index.html" title="" class="navbar-brand">
                    <img src="assets/images/logo-light.png" alt="Apartment - Premium Real Estate Template" />
                </a>
            </div>
<div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index2.html" class="scroll"> Accueil</a></li>
                    <li><a href="index3-street-view.html" class="scroll">Nos offres</a></li>
                    <li><a href="" class="scroll">Fonctionnalités</a></li>
                    <li><a href="contact1.html" class="scroll">Contact</a></li>
                    
                    <li *ngIf="!profileDisplay; else noProfileDisplay"><a href="#login-modal" data-toggle="modal" >Connexion</a></li>
                    <ng-template #noProfileDisplay>
                        <li><a href="/profile" >{{firstName}} {{lastName}}</a></li>
                    </ng-template>
                    
                </ul>
            </div>
        </div>
    </nav><!-- /.mani-menu-cont -->	
</header>

<section class="no-padding adv-search-section">
    <!-- Slider main container -->
    <div id="swiper2" class="swiper-container">
                <div class="container swiper2-navigation">
                    <div class="row">
                        <div class="col-xs-2">
                            <a href="#" class="navigation-box2 navigation-box-prev slide-prev"><div class="navigation-triangle"></div><div class="navigation-box-icon2"><i class="jfont">&#xe800;</i></div></a>
                        </div>
                        <div class="col-xs-2 col-xs-offset-8">
                            <a href="#" class="navigation-box2 navigation-box-next slide-next"><div class="navigation-triangle"></div><div class="navigation-box-icon2"><i class="jfont">&#xe802;</i></div></a>
                        </div>
        </div>
                </div>
    <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
        <!-- Slides -->
            <div class="swiper-slide swiper-lazy" data-background="assets/images/restauration.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2 animated fadeInDown slide2-desc slide2-desc-1">
                            <h1 class="second-color">PASSEZ AU DIGITAL !<span class="special-color"></span></h1>
                            <div class="clearfix"></div>									
                            <p class="swiper2-text">Gagnez du temps et simplifiez la vie de vos équipes pour votre plan de maitrise santiaire </p>
                            
                        </div>
                    </div>
                </div>
                <div class="slider-overlay"></div>
            </div>
            <div class="swiper-slide swiper-lazy" data-background="assets/images/1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2 animated slide2-desc slide2-desc-2">
                            <h1 class="second-color">titre<span class="special-color">.</span></h1>
                            <div class="clearfix"></div>									
                            <p class="swiper2-text">description</p>
                        
                        </div>
                    </div>
                </div>
                <div class="slider-overlay"></div>
                <div class="video-slide">
                    <video poster="assets/images/slides/2.jpg" preload="auto" loop autoplay muted>
                         <source src='assets/images/slides/2.mp4' type='video/mp4' />
                    </video>
                </div>
            </div>
            <div class="swiper-slide swiper-lazy" data-background="assets/images/2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2 animated slide2-desc slide2-desc-3">
                            <h1 class="second-color">titre<span class="special-color">.</span></h1>
                            <div class="clearfix"></div>									
                            <p class="swiper2-text">description</p>
                            
                        </div>
                    </div>
                </div>
                <div class="slider-overlay"></div>
            </div>
        </div>
    </div>


</section>






<section class="section-light bottom-padding-45 section-both-shadow" style="
padding-top: 40px;">
    <div class="container">
        <div class="row">
        
               <section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 text-center">
                <h5 class="subtitle-margin">Solution Haccp</h5>
                        <h1 class="">BIOREG<span class="special-color"></span></h1>
            </div>
        
            <div class="col-xs-8 col-xs-offset-2 col-sm-offset-4 col-sm-4">
                <div class="title-separator-primary2"></div>
            </div>
        </div>
    </div>
    <div class="container margin-top-60">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 text-center">
                <p class="negative-margin">Une solution tactile innovante pour simplifier votre démarche HACCP et vous permettre,
en quelques minutes, de réaliser les enregistrements de votre Plan de Maitrise Sanitaire (PMS)</p>
            
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 text-center">
                        <h1 class="">Pourquoi choisir BIOREG ?<span class="special-color"></span></h1>
            </div>
        
            <div class="col-xs-8 col-xs-offset-2 col-sm-offset-4 col-sm-4">
                <div class="title-separator-primary2"></div>
            </div>
        </div>
    </div>
    <br/>
            <br/>


            <div class="col-sm-6 col-lg-4">
                <div class="feature2 wow fadeInLeft" id="feature1">
                    <div class="feature2-icon"><i class="fa fa-file"></i></div>
                    <div class="feature2-text">
                        <h4>Zéro papier<span class="special-color">.</span></h4>
                        
                        <p>Tous vos enregistrements obligatoires sont réalisés, en quelques minutes par jour,
sur l’écran tactile au sein même de la cuisine. C’est plus pratique </p>
                    </div>
                </div>
            </div>			
            <div class="col-sm-6 col-lg-4">
                <div class="feature2 wow fadeInUp" id="feature2">
                    <div class="feature2-icon"><i class="fa fa-clock-o"></i></div>
                    <div class="feature2-text">
                        <h4>Gain de temps<span class="special-color">.</span></h4>
                        
                        <p>Plus besoin de découper vos étiquettes de traçabilité ou de compléter vos fiches de relevés de températures. Cliquez c’est enregistré et classé.</p>
                    </div>
                </div>
            </div>			
            <div class="col-sm-6 col-lg-4">
                <div class="feature2 wow fadeInRight" id="feature3">
                    <div class="feature2-icon"><i class="fa fa-industry"></i></div>
                    <div class="feature2-text">
                        <h4>Moins de stress<span class="special-color">.</span></h4>
                        
                        <p>Toutes les informations sont enregistrées, classées et sauvegardées automatiquement. L’accès à l’historique des enregistrements se fait directement sur l’écran, en quelques clics.</p>
                    </div>
                </div>
            </div>			
            
                    
                    
        </div>
    </div>
</section>

<section class="featured-offers parallax">
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6 text-center">
                
                        <h1 class="second-color">Comment ça marche ?<span class="special-color"></span></h1>
            </div>
            
            <div class="col-xs-12" style="
padding-bottom: 30px;">
                <div class="title-separator-secondary2"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-sm-6">
<iframe width="420" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
</iframe></div>
    
    
    <div class="col-sm-6">
    <div class="card text-center">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
<div class="card-header">

</div>
<div class="card-body">
<h4 class="card-title" style="color:white">BIOREG est la solution tactile HACCP dédiée aux métiers de bouche.</h4>
<p style="color:white">Notre outil permet de réaliser l’ensemble des enregistrements obligatoires de votre Plan de Maîtrise Sanitaire simplement et rapidement sans sortir de votre cuisine !</p>
<a href="#" class="button-secondary button-shadow pull-right">
                        <span>Fonctionnalités</span>
                        <div class="button-triangle"></div>
                        <div class="button-triangle2"></div>
                        <div class="button-icon"><i class="jfont">&#xe802;</i></div>
                    </a>
</div>

</div></div>
    </div>
    </div>
</section>




<section class="section-light">
    <div class="container">
        <div class="row">
            
            
        
        
        
        </div>
    </div>
</section>	



<section class="section-light top-padding-45 bottom-padding-45">
    <div class="container">
        <div class="row count-container">
            <div class="col-xs-6 col-lg-3">
                <div class="number" id="number1">
                    <div class="number-img">	
                        <i class="fa fa-credit-card"></i>
                    </div>
                    <span class="number-label text-color2">Paiement sécurisé</span>
                    
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 number_border">
                <div class="number" id="number2">
                    <div class="number-img">	
                    <i class="fa fa-truck"></i>
                    </div>			
                    <span class="number-label text-color2">Livraison 24-48h</span>
                    
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 number_border3">
                <div class="number" id="number3">
                    <div class="number-img">	
                        <i class="fa fa-check-square"></i>
                    </div>
                    <span class="number-label text-color2">En stock</span>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 number_border">
                <div class="number" id="number4">
                    <div class="number-img">
                        <i class="fa fa-certificate"></i>
                    </div>
                    <span class="number-label text-color2">Garantie 2 ans</span>
                </div>
            </div>
        </div>
    </div>
</section>	


<footer class="large-cont">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-3">
                <h4 class="second-color">contact us<span class="special-color">.</span></h4>
                <div class="footer-title-separator"></div>
                <p class="footer-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <address>
                    <span><i class="fa fa-map-marker"></i>00456 Some Address line</span>
                    <div class="footer-separator"></div>
                    <span><i class="fa fa-envelope fa-sm"></i><a href="#">email@domain.tld</a></span>
                    <div class="footer-separator"></div>
                    <span><i class="fa fa-phone"></i>01-23456789</span>
                </address>
                <div class="clear"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-3">
                <h4 class="second-color">quick links<span class="special-color">.</span></h4>
                <div class="footer-title-separator"></div>
                <ul class="footer-ul">
                    <li><span class="custom-ul-bullet"></span><a href="index.html">Accueil</a></li>
                    <li><span class="custom-ul-bullet"></span><a href="listing-grid-right-sidebar.html">Nos offres</a></li>
                    <li><span class="custom-ul-bullet"></span><a href="agencies-listing-right-sidebar.html">Fonctionnalités</a></li>
                    <li><span class="custom-ul-bullet"></span><a href="contact1.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                
                
                
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                
            </div>
        </div>
    </div>
</footer>
<footer class="small-cont">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 small-cont">
                <img src="assets/images/logo-light.png" alt="" class="img-responsive footer-logo" />
            </div>
            <div class="col-xs-12 col-md-6 footer-copyrights">
                &copy; Copyright 2015 <a href="http://themeforest.net/user/johnnychaos?ref=johnnychaos" target="blank">Jan Skwara</a>. All rights reserved. Buy on <a href="http://themeforest.net/user/johnnychaos/portfolio?ref=johnnychaos" target="blank">Themeforest</a>.
            </div>
        </div>
    </div>
</footer>
</div>	

<!-- Move to top button -->

<div class="move-top">
<div class="big-triangle-second-color"></div>
<div class="big-icon-second-color"><i class="jfont fa-lg">&#xe803;</i></div>
</div>	

<!-- Login modal -->
<app-login></app-login>
  
<!-- Register modal -->
<app-register></app-register>

<!-- Forgotten password modal -->
<app-forgot-password></app-forgot-password>
