<div fxLayout="row" fxLayout.xs="column" [fxLayoutAlign]="align" class="text-muted">










  <!--
      l partie hédi féha l affichage ta3   + numberOfItems -  ta3 l cart wl wishlist
   -->

  <div *ngIf="product?.availibilityCount > 0 && (type=='all' || type=='wish')">
      <bdi>
          <span *ngIf="type!='wish'" class="fw-500">Quantity:</span>
          <button mat-icon-button matTooltip="Remove" (click)="decrement(product.cartCount)"><mat-icon>remove</mat-icon></button>
          <span> {{count}} </span>
          <button mat-icon-button matTooltip="Add" (click)="increment(product.cartCount)"><mat-icon>add</mat-icon></button>
      </bdi>
  </div>










    <!--
      héda l'affichage ta3 l partie mélouta ta3 chaque produit
      li en cliquant sur ces bouton najmou na3émlou
      l add ta3 l produit hédéka fl panier wala wishlist wala compare
   -->

  <div *ngIf="type!='wish'">
      <button mat-icon-button matTooltip="Add to wishlist" (click)="addToWishList(product)"><mat-icon>favorite</mat-icon></button>
      <button mat-icon-button matTooltip="Add to cart" *ngIf="product?.availibilityCount > 0" (click)="addToCart(product)"><mat-icon>shopping_cart</mat-icon></button>
      <button mat-icon-button matTooltip="Add to compare" (click)="addToCompare(product)"><mat-icon>compare</mat-icon></button>
      <button *ngIf="type!='all'" mat-icon-button matTooltip="Quick view" (click)="openProductDialog(product)"><mat-icon>remove_red_eye</mat-icon></button>
  </div>










</div>
<div *ngIf="product?.availibilityCount == 0 && type=='all'" class="bg-warn p-1 mt-2">
  Sorry, this item is unavailable. Please choose a different one.
</div>

<router-outlet></router-outlet>
