<div>
    <form [formGroup]="forgotPasswordForm">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="modal-title">
                        <h1>Forgot your password<span class="special-color">?</span></h1>
                        <div class="short-title-separator"></div>
                    </div>
                    <p class="negative-margin forgot-info">Instert your account email address.<br />We will send you a
                        link to reset your password.</p>
                    <input formControlName="email" name="login" type="email" class="input-full main-input"
                        placeholder="Your email" />
                    <button class="button-primary button-shadow button-full" (click)="forgotPassword()">
                        <span>Reset password</span>
                        <div class="button-triangle"></div>
                        <div class="button-triangle2"></div>
                        <div class="button-icon"><i class="fa fa-user"></i></div>
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </form>
</div>